/* extend section style */

.content {
	&__error-msg {
		color: red;
		margin: 15px 0 0;
		font-size: 30px;
		line-height: 32px;
		@include media('<widescreen-md') {
			font-size: 25px;
			line-height: 27px;
		}
		@include media('<widescreen-md') {
			font-size: 20px;
			line-height: 22px;
		}
	}
	&__extend {
		display: flex;
		flex-direction: column;
		border-left: 42px solid $green;
		padding: 0 43px;
		box-sizing: border-box;
		flex: auto;
		margin: 0 0 75px;
		@include media('<widescreen-sm') {
			padding: 0 25px;
			border-width: 22px;
		}
		@include media('<widescreen-md') {margin: 0 0 30px;}
		@include media('>=widescreen-sm', 'height<=height-lg') {margin: 0 0 30px;}
	}
	&__extend-h5 {
		font-size: 80px;
		line-height: 82px;
		color: $white;
		margin: 0 0 40px;
		@include media('<widescreen-lg') {
			font-size: 80px;
			line-height: 82px;
			margin: 0 0 30px;
		}
		@include media('<widescreen-md') {
			font-size: 60px;
			line-height: 62px;
		}
		@include media('<widescreen-sm') {
			font-size: 47px;
			line-height: 49px;
		}
		@include media('>=widescreen-sm', 'height<=height-lg') {
			font-size: 60px;
			line-height: 62px;
		}
	}
	&__extend-block {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__extend-buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		flex-shrink: 0;
		flex: auto;
		flex-direction: column;
		justify-content: center;
	}
	&__extend-btn {
		flex: 0 0 30%;
		max-width: 30%;
		min-width: 0;
		margin: 0 0 30px;
		height: 101px;
		@include media('<widescreen-lg') {font-size: 32px;}
		@include media('<widescreen-md') {
			font-size: 29px;
			height: 70px;
		}
		@include media('<widescreen-sm') {
			height: 60px;
			font-size: 25px;
		}
		@include media('>=widescreen-sm', 'height<=height-lg') {height: 80px;}
	}
	&__extend-box {
		display:flex;
		justify-content: space-between;
		position: relative;
	}
	&__extend-canel,
	&__extend-done {
		width: 49%;
		@include media('<widescreen-md') {font-size: 29px;}
		.icon-check {
			background: $green;
			margin: 0 16px 0 0;
		}
	}
	&__extend-canel {
		border-color: red;
		color: red;
	}
	&__extend-error {
		text-align: center;
		position: absolute;
		left: 50%;
		top: -60px;
		transform: translateX(-50%);
		display: block;
		color: red;
		font-size: 30px;
		line-height: 32px;
		width: 100%;
		@include media('<widescreen-md') {
			font-size: 25px;
			line-height: 27px;
		}
		@include media('<widescreen-sm') {
			font-size: 20px;
			line-height: 22px;
		}
	}
}